spring:
  application:
    name: user-service


  datasource:
    url: ${POSTGRES_URI}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}


  data:
    redis:
      database: ${REDIS_DATABASE_NUMBER}
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI}
    instance:
      preferIpAddress: true

app:
  jwt:
    subject: ${JWT_SUBJECT}
    issuer: ${JWT_ISSUER}
    access:
      duration: ${JWT_ACCESS_DURATION}
      secret: ${JWT_ACCESS_SECRET}

  minio:
    endpoint: ${MINIO_ENDPOINT}
    accessKey: ${MINIO_ACCESS_KEY}
    secretKey: ${MINIO_SECRET_KEY}

  gateway:
    uri: ${GATEWAY_URI}